/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of the reset */

@font-face {
  font-family: "Cupcakes";
  src: local("cupcakes"),
   url("./font/cupcakes.otf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Gellatio-Regular";
  src: local("gellatio-regular"),
    url("./font/Gellatio-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Candara";
  src: local("candara"),
    url("./font/candara-font-family/Candara.ttf") format("truetype");
  font-weight: regular;
}

/* Navigation bar */
.navbar {
  background-color: #4c436f;
  text-align: center;
  padding: 15px;
}

.navbar a {
  font-family: Cupcakes;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 27px;
}

.navbar a:hover {
  color: #bdbdbd;
}

/* HOMEPAGE STYLING */

.mainheader {
  font-family: Cupcakes;
  color: white;
  font-size: 60px;
  padding-top: 5%;
  padding-left: 10%;
}

.button {
  background-color: #9f86c0;
  font-size: 40px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  font-family: Cupcakes;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 6px #000000;
  margin-left: 15%;
  margin-top: 60px;
}

.button:hover {
  background-color: #4c436f;
  color: #000000;
  border: 3px solid #000000;
}


/* Landing section */
.hp-landing {
  background-image: url(./img/Welcome-bgr.png);
  width: 100%;
  background-size: cover;
  text-align: center;
  padding-top: 18%;
  padding-bottom: 21%;
}

.welcomeheader2 {
  font-family: Cupcakes;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 6px #000000;
  margin-bottom: 45px;
}

.welcomeheader1 {
  font-family: Gellatio-Regular;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 6px #000000;
}

/* About me intro */
.about-landing {
  background-image: url(./img/1.png);
  background-size: 100%;
  padding-bottom: 2%;
}

.mainintro {
  display: flex;
}

.aboutpic {
  margin-right: 13%;
}

.aboutp {
  color: white;
  font-family: Candara;
  font-size: 25px;
  padding-left: 15%;
  padding-top: 35px;
  padding-right: 25%;
}

.mepic {
  height: 570px;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #2e2e2e;
}

.iconcontainer {
  display: flex;
  margin-top: 75px;
  margin-left: 10%;
}

.oneadj {
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.abouticon {
  height: 130px;
  padding-bottom: 30px;
}

.icondesc {
  color: white;
  font-family: Cupcakes;
  font-size: 22px;
}

/* My areas of interest */
.interests {
  background-color: #4c436f;
}

.thebubbles {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.bubbleicon {
  height: 400px;
  margin-right: 80px;
}

/* Portfolio sections */
.portfoliosec {
  background-image: url(./img/Stream-bgr.png);
}

.portfolio-sections1 {
  margin-top: 5%;
  text-align: center;
  display: flex;
}

.portfolio-sections2 {
  margin-top: 30px;
  padding-bottom: 5%;
  text-align: center;
  display: flex;
}

/* Hover overlay */
.sectionsoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.overlaytext {
  font-family: Cupcakes;
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Projects */
.projects-link {
  background-color: #4c436f;
  border: 5px solid #000000;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #2e2e2e;
  margin-left: 3%;
  position: relative;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.projetcs-icon {
  height: 250px;
}

.projects-link:hover .sectionsoverlay{
  opacity: 0.8;
}

/* Art */
.art-link {
  background-color: #9f86c0;
  border: 5px solid #000000;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #2e2e2e;
  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.art-icon {
  height: 250px;
}

.art-link:hover .sectionsoverlay {
  opacity: 0.8;
}

/* Video */
.video-link {
  background-color: #c6b9df;
  border: 5px solid #000000;
  border-radius: 25px;
  box-shadow: 5px 5px 20px #2e2e2e;
  position: relative;
  width: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.videoprod-icon {
  height: 250px;
}

.video-link:hover .sectionsoverlay {
  opacity: 0.8;
}

/* Graphic design */
.design-link {
  background-color: #c6b9df;
  border: 5px solid #000000;
  border-radius: 25px;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 5px 5px 20px #2e2e2e;
  position: relative;
  width: 30%;
}

.design-icon {
  height: 250px;
}

.design-link:hover .sectionsoverlay {
  opacity: 0.8;
}

/* Social media */
.some-link {
  background-color: #4c436f;
  border: 5px solid #000000;
  border-radius: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 5px 5px 20px #2e2e2e;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  width: 35%;
}

.some-icon {
  height: 250px;
}

.some-link:hover .sectionsoverlay {
  opacity: 0.8;
}

/* Programming */
.programming-link {
  background-color: #9f86c0;
  border: 5px solid #000000;
  border-radius: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 5px 5px 20px #2e2e2e;
  position: relative;
  width: 25%;
}

.programming-icon {
  height: 250px;
}

.programming-link:hover .sectionsoverlay {
  opacity: 0.8;
}

/* Testimonials */
.testimonialsec {
  background-image: url(./img/bubblebgr.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.testipost {
  background-image: url(./img/testimonials.png);
  background-size: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10%;
}

.testiheader {
  font-family: Cupcakes;
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.testicontent {
  font-family: Candara;
  color: white;
  font-size: 25px;
  width: 35vw;
  text-align: center;
  line-height: 27px;
}

.slick-dots {
  background-color: #4c436f;
}

/* Contact */
.contactsec {
  background-image: url(./img/1.png);
  background-size: 100%;
  display: flex;
  padding-top: 5%;
  padding-bottom: 10%;
}

/* Left side*/
.contactp {
  color: white;
  font-family: Candara;
  font-size: 25px;
  line-height: 35px;
  margin-top: 3%;
  margin-left: 10%;
  padding-right: 30%;
}

.someicons {
  margin-top: 6%;
  margin-left: 10%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
  padding-right: 40%;
}

.someicon {
  height: 100px;
}

.phonelink {
  text-decoration: none;
  color: white;
  font-family: Candara;
  font-size: 25px;
  margin-left: 10%;
}

.phonelink:hover {
  text-shadow: 2px 2px 6px #000000;
}

/*Right side*/
.theform {
  margin-right: 20%;
  margin-top: 2%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formlabel {
  font-family: Cupcakes;
  color: white;
  font-size: 40px;
}

.textinput {
  font-family: Candara;
  border-radius: 5px;
  border: 2px solid #747474;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 8px;
  margin-top: 2%;
  margin-right: 25%;
  margin-bottom: 2%;
}

.messageinput {
  font-family: Candara;
  border-radius: 5px;
  border: 2px solid #747474;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-right: 120px;
  padding-left: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.submitbtn {
  background-color: #9f86c0;
  font-size: 40px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  font-family: Cupcakes;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 6px #000000;
  margin-top: 20px;
  margin-right: 35%;
}

.submitbtn:hover {
  background-color: #4c436f;
  color: #000000;
  border: 3px solid #000000;
}

/* Footer */
.footersec {
  background-color: #4c436f;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}

.footernav {
  margin-top: 40px;
}

.footernav a {
  font-family: Cupcakes;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 27px;
}

.footernav a:hover {
  color: #bdbdbd;
}

.footericon {
  height: 60px;
  padding: 20px;
}

.copyright {
  font-family: Cupcakes;
  color: white;
  font-size: 27px;
  margin-top: 40px;
}

/* PORTFOLIO PAGE STYLING */
.portfolio-landing {
  background-image: url(./img/Landingbgr.png);
  width: 100%;
  background-size: cover;
  text-align: center;
  padding-top: 18%;
  padding-bottom: 28%;
}

.landingheader {
  font-family: Gellatio-Regular;
  color: white;
  font-size: 80px;
  text-shadow: 2px 2px 6px #000000;
  letter-spacing: 20px;
}

.portfoliobubbles {
  background-color: #4c436f;
  padding: 5%;
}

.portfoliobubbles-sections {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5%;
}

.bubblelink {
  background-image: url(./img/testimonials.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 30%;
}

.bubblelink-projects {
  text-align: center;
  position: relative;
}

.bubblesoverlay {
  position: absolute;
  border-radius: 50%;
  top: 4%;
  bottom: 0;
  left: 6%;
  right: 0;
  height: 86%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.bubblesoverlay1 {
  position: absolute;
  border-radius: 50%;
  top: 4%;
  bottom: 0;
  left: 6%;
  right: 0;
  height: 92%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.bubblesoverlay2 {
  position: absolute;
  border-radius: 50%;
  top: 4%;
  bottom: 0;
  left: 6%;
  right: 0;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.bubblesicon-projects {
  height: 200px;
  padding: 125px;
}

.bubblesicon-art {
  height: 200px;
  padding: 110px;
}

.bubblesicon-videos {
  height: 200px;
  padding: 115px;
}

.bubblesicon-design {
  height: 200px;
  padding: 125px;
}

.bubblesicon-some {
  height: 200px;
  padding: 125px;
}

.bubblesicon-programming {
  height: 200px;
  padding: 125px;
}

.bubblelink-projects:hover .bubblesoverlay{
  opacity: 0.7;
}

.bubblelink-projects:hover .bubblesoverlay1{
  opacity: 0.7;
}

.bubblelink-projects:hover .bubblesoverlay2{
  opacity: 0.7;
}